@import 'settings';
@import 'foundation-emails';
// @import 'vsl-app';



a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

td {
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

a,
a:visited,
a:hover {
    color: orange;
}

.show-column {
    background: #e5e5e5;
}

table.button table td a {
    letter-spacing: 1px;
    text-align: center;
}

table.button table td {
    text-align: center !important;
}

.no-bottom-padding {
    padding-bottom: 0 !important;
}


@media only screen and (max-width: 616px) {
    // media queries for mobile
}